
@font-face {
  font-family: vt323;
  src: url(../fonts/vt323-v10-latin-regular.woff);
}
p {
	color: #00FF00;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: vt323;
	text-align: center;
}
body {
	background-color: black;  
	background-image: url('../images/matrix.gif'); 
	background-repeat: repeat;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.spinning {
	font-size: 50px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
		  transition:         transform .8s ease-in-out;
	-webkit-animation: spin 4s infinite linear;
}
.title {
	font-size: 320px;
	text-align: center;
	-webkit-transition: -webkit-transform .8s ease-in-out;
	transition:         transform .8s ease-in-out;
	-webkit-animation: shrink 2s infinite ease-in-out;
}

@-webkit-keyframes spin {
	0%  {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}   
}

@-webkit-keyframes shrink {
	0%  {-webkit-transform: scale(1,1);}
	50% {-webkit-transform: scale(.8,.8);}  
	100%  {-webkit-transform: scale(1,1);}
}